[Unit]
Description=Linux container runtime daemon
After=network.target

[Service]
ExecStart=/usr/bin/lxc-docker -d

[Install]
WantedBy=multi-user.target
